@{
    ViewBag.Title = "Pocetna | Fakultet-IS";
    ViewBag.Message = "Informacioni sistem za pracenje rada fakulteta";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title </h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            @*<p>
        To learn more about ASP.NET MVC visit
        <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
        The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
        If you have any questions about ASP.NET MVC visit
        <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
    </p>*@

        </div>
    </section>
}
<h3>Moduli sistema:</h3>
<ol class="round">
    <li class="one">
        <h5>Evidencija studenata</h5>
        Modul koji omogucava evidentiranje podataka o studentima, njihovo odrzavanje i azuriranje. 
    </li>

    <li class="two">
        <h5>Evidencija ispita</h5>
        Modul za evidentiranje podataka o ispitima (predmetima) na fakultetu.
    </li>

    <li class="three">
        <h5>Evidencija prijava ispita</h5>
        Modul koji sluzi za evidentiranje prijava polaganja ispita i ocena studenata.
    </li>
</ol>
